<form method="POST" action="{% url 'authentication:register-parent-teacher' %}">
    {%csrf_token%}
    <div class="form-group">
        {{ userForm.username.label_tag }}
        {{ userForm.username}}
    </div>
    <div class="form-group">
        {{ userForm.email.label_tag }}
        {{ userForm.email}}
    </div>
    <div class="form-group">
        {{ userForm.password.label_tag }}
        {{ userForm.password}}
    </div>
    <div class="form-group">
        <label for="nationalId">National Id</label>
        {{ parent_teacherForm.nationalId}}
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>