
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.jumbotron-content {
    position: relative;
    z-index: 2;
}
.jumbotron h1,
.jumbotron p {
    color: white; 
}
.jumbotron h1 {
    font-weight: bold;
    color: #fff;
}
.card-deck {
    margin-top: 50px; /* Adjust top margin for the card deck */
}

.card {
    margin-bottom: 30px; /* Adjust bottom margin for each card */
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
}
#carouselExampleCaptions {
    margin-top: 50px; /* Adjust margin top as needed */
    max-width: 100%; /* Adjust maximum width of the carousel */
    margin-left: auto; /* Center align carousel */
    margin-right: auto; /* Center align carousel */
}