<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color: #eddd6e;
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
      Far away, a train chugged through a dense forest.  On board, a little panda peeked</br>
      through a window, seeing rainbows glistening beautifully after the rain. "This is an </br>
      incredible adventure," said the zookeeper, who gently held the panda. They were happily </br>
      heading to a new school where nature was the primary language taught to everyone.</br>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:bg_extension3' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>