<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color: #edd1b0;
    }
   .container {
        background-color: #edd1b0;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    {% block scripts %}
    <script src="{%static 'adaptation/js/bg_extension.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:bg_extension2' %}" AFD="{{AFD}}"></script>
  {% endblock %}
    
    {%endblock%}
  </body>
</html>