<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color:#fffdd0;
        font-size: xx-large;

    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
      A robot rolled by, adding to the town's excitement.  "I have never seen one up </br>
      close before," the farmer admitted. The doctor laughed, "They are quite common </br>
      here now." As the tired farmer gratefully returned home,  he felt a sense of </br>
      fulfilment and happiness. "That was a good day," he said, opening the wooden door.</br>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension1' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>