<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color:#fffdd0
    }
    .container {
        background-color: #fffdd0;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
    A robot rolled by, adding to the town's excitement. "I have never seen</br> 
    one up close before," the farmer admitted.The doctor laughed, </br> 
     "They are quite common here now." As the tired farmer gratefully </br> 
     returned home,  he felt a sense of fulfilment and happiness.</br> 
      "That was a good day," he said, opening the wooden door.
     
    </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension1' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>