<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color: #edd1b0;
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
      <p>Inside the old house, a mysterious box sat on shelves filled with dusty books. </br>
        The computer beside it blinked with messages.  "What could be in there?" he wondered aloud.</br>  
        He approached the box, curious.  Meanwhile, a beautiful doctor in town read a biography of </br>
        a famous zookeeper, fascinated by their marvelous experiences with exotic animals. </br>       
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:bg_extension2' %}"></script>
  {% endblock %}
    
    {%endblock%}
  </body>
</html>