<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color: #edd1b0;
    }
   .container {
        background-color: #edd1b0;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      <p>Inside the old house, a mysterious box sat on shelves filled with dusty books.</br>
        The computer beside it blinked with messages. "What could be in there?" </br>
       he wondered aloud.  He approached the box, curious. Meanwhile, </br>
       a beautiful doctor in town read a biography of a famous zookeeper, </br>
       fascinated by their marvelous experiences with exotic animals.</br>
       </div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:bg_extension2' %}"></script>
  {% endblock %}
    
    {%endblock%}
  </body>
</html>