<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
     body, html {
        background-color: #f8fd89;
    }
    .container {
        background-color: #f8fd89;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      On Friday, the farmer decided to visit the town.He walked</br>
       down the busy streets, buying bread and plums. He saw a doctor</br>
       who looked upset. "Are you alright?" he asked kindly.</br>
      She smiled weakly, "I am fine, just tired from a difficult trial."  </br>
      They talked for a while, sharing stories and helpful advice.
      
        </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:bg_extension4' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>