<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        letter-spacing: 0.17em;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    He continued to live in his house, tending to his farm. But now, he had a new</br>
    purpose. Every Wednesday, he would sit by the window, looking at the rainbow</br> 
    after the rain and write. His life was filled with stories and new adventures.</br> 
    Occasionally, he would visit the nearby town for supplies and inspiration.</br>
    
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:adaptation_result' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>