<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        letter-spacing: 0.17em;
    }
  
    .container {
        letter-spacing: 0.17em;
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      The book became a bestseller. People from all over came to hear </br>
      his inspiring story.The farmer felt a sense of fulfilment and happiness </br> 
      he had never known. His adventure had brought him not just excitement, </br>
      but also a deeper understanding of himself and the world. </br>
      Each handshake and smile affirmed his journey's incredible impact.</br>
</br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:adaptation_result' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>