<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        letter-spacing: 0.04em;
    }
  
    .container {
      letter-spacing: 0.04em;
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      Eventually, he returned home, wiser and with a new goal. He started writing a</br> 
      book about his adventure. He titled it "The Mysterious Box." It was a tale of </br>
      discovery and growth, capturing the essence of his journey. His life felt </br>
      complete. He dedicated the book to the man, and the teacher who had guided him.</br>
    </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:char_spacing_extension2' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>