<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        letter-spacing: 0.04em;
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    The book became a bestseller. People from all over came to hear his inspiring story.</br>
    The farmer felt a sense of fulfilment and happiness he had never known. His adventure </br>
    had brought him not just excitement, but also a deeper understanding of himself and </br>
    the world. Each handshake and smile affirmed his journey's incredible impact.</br>
    
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:char_spacing_extension2' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>