<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        font-family: Verdana; 
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
      Together, they walked until they reached a jail. "The answer lies here," </br>
        the fisherman said. The farmer was hesitant but curious. </br>
        Inside, he met a wise old man who held a whole lot of knowledge. </br>
        "This box will lead you to an airplane," he explained mysteriously,</br>
        pointing to the distant horizon beyond the town's limits.</br>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension5' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>