<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    @font-face {
        font-family: 'Comic';
        src: url('{% static "adaptation/fonts/ComicSansMS3.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    body, html {
        font-family: 'Comic';
    }
  
    .container {
        font-family: 'Comic';
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      Eventually, he returned home, wiser and with a new goal.  </br>
      He started writing a book about his adventure. He titled it    </br>
      "The Mysterious Box." It was a tale of discovery and growth,     </br>
      capturing the essence of his journey.His life felt complete.   </br>
      He dedicated the book to the man,and the teacher who had guided him.
      </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:text_color_extension' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>