<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        font-family: Times; 
    }
  
    .container {
        font-family: Times; 
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      In the new town, he found a school teaching about the dinosaur reign. The </br>
      knowledge was vast and intriguing. He met a teacher who said, "Here, you will </br>
      learn what you need." The farmer spent days studying, absorbing all he could. </br>
      Outside the school, he discovered a garden filled with plum trees with ripe fruit.</br>
      </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension7' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>