<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    @font-face {
        font-family: 'OpenDyslexic';
        src: url('{% static "adaptation/fonts/OpenDyslexic-Regular.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    body, html {
        font-family: 'OpenDyslexic', Arial, sans-serif;
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
      Back home, he found the mysterious box still there.  Curious and intrigued, he </br>
      decided to open it.  Inside, to his surprise, he found a diamond and a note. "This </br>
      is for your next adventure," it read. He was puzzled but excited. What it could </br>
      mean. He carefully placed the diamond back, planning to investigate further.</br>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension3' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>