<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        font-family: Verdana; 
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    Confused but intrigued, the farmer left the jail.  He continued his journey, the goal </br>
    clearer now. He met a witch who could fly. "I will help you," she said, casting a</br> 
    spell that made the airplane appear. He boarded it, ready for whatever exciting </br>
    adventure came next. They flew over forests, rivers, and a rainbow.</br>
    
    
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension5' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>