<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    body, html {
        font-family: Helvetica; 
    }
  
    .container {
        font-family: Helvetica; 
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      High in the air, he saw the world below, marvelous and beautiful.  His destination </br>
      was a town far away. "This is incredible," he thought, feeling happy and free. </br>
      The airplane landed smoothly. He stepped out, ready to continue his quest.</br>
      As he walked through the town square, he noticed a rainbow arcing across the sky.</br>
      </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension6' %}"></script>
  {% endblock %}

    {%endblock%}
  </body>
</html>