<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    @font-face {
        font-family: 'Comic';
        src: url('{% static "adaptation/fonts/ComicSansMS3.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    body, html {
        font-family: 'Comic';
    }
  
    .container {
        font-family: 'Comic';
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:text_color_extension' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>