<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    @font-face {
        font-family: 'Courier';
        src: url('{% static "adaptation/fonts/CourierPrime-Regular.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    body, html {
        font-family: 'Courier', Arial, sans-serif;
    }
  
    .container {
        font-family: 'Courier';
    }
  
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    <div class="container">
      The next morning, he woke up with a goal: to uncover the box's secret. He </br>
      packed some bread and set off. His journey led him through fields and forests </br>
      until he met a fisherman by a serene lake.  "Can you help me?" he asked </br>
      eagerly. The fisherman nodded, "I will advise you patiently and wisely."</br>
      </br></div>
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension4' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>