<!DOCTYPE html>
{%extends "adaptation/base.html"%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
    @font-face {
        font-family: 'Courier';
        src: url('{% static "adaptation/fonts/CourierPrime-Regular.ttf" %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    body, html {
        font-family: 'Courier', Arial, sans-serif;
        font-size: xx-large;
    }
    #calibrationButton {
        display: none;
    }
  </style>
  <body>
    Together, they walked until they reached a jail. "The answer lies here," the </br>
    fisherman said. The farmer was hesitant but curious. Inside, he met a wise old </br>
    man who held a whole lot of knowledge. "This box will lead you to an airplane," </br>
    he explained mysteriously, pointing to the distant horizon beyond the town's limits.</br>
    
    {% block scripts %}
    <script src="{%static 'adaptation/js/eyeTracking.js'%}" type="module"
   id="myScript" data-url="{% url 'adaptation:font_type_extension4' %}"></script>
  {% endblock %}
    {%endblock%}
  </body>
</html>