body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take the full height of the viewport */
}
.custom-card {
    width: 95%; 
    height: 90%;
    box-shadow: 0 4px 12px rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.card-img {
    position: fixed;
    width: 500px;
    height: 90%;
    margin: auto;
}
.card-body {
    flex: 1; /* Allow the card body to take up remaining space */
}
.nav-pills .nav-item {
    flex-grow: 1; /* Each pill item takes up equal space */
    text-align: center; /* Center-align the text within pills */
}